<!-- templates/visits/stage_booking.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4 text-center">Disponibilidad de {{ stage.name }}</h2>
    <div id="calendar"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek', // Vista semanal con horas
            headerToolbar: {
                start: 'prev,next today', // Botones de navegación
                center: 'title',         // Título centrado
                end: 'timeGridDay,timeGridWeek' // Botones para cambiar de vista
            },
            events: `/availability/{{ stage.id }}/`, // Endpoint para los eventos
            eventClick: function(info) {
                // Acción al hacer clic en un evento
                alert(`Has seleccionado: ${info.event.title}`);
            }
        });

        calendar.render();
    });
</script>
{% endblock %}
