# Entornos virtuales
venv/
ENV/
*.env
env/

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Base de datos local
db.sqlite3
db.sqlite3-journal

# Archivos de logs
*.log

# Archivos estáticos y medios generados
staticfiles/
media/

# Configuración local de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por herramientas
*.coverage
.coverage.*
*.egg
*.egg-info/
dist/
build/
pip-log.txt

# Ignorar archivos temporales creados por editores
*.swp
*.bak
*.tmp
*~

# Ignorar migraciones que no deseas subir (opcional)
migrations/

# Excluir configuraciones específicas de Django (opcional)
settings_local.py
